body {
  font-family: 'Old Standard TT', serif;
}
#banner {
  height: 100px;
}
#team {
height: 50px;
width: 50px;
border-radius: 50%;
}
#list-team {
display: flex;
  flex-direction: row;
}
.brand-logo {
  height: 50px;
}
#main-pic {
  width: 100%;
}
#the-f-team {
  padding-top: 30px;
}
#search-location {
  position: absolute;
  top: 40%;
  left:60%;
}
#search-activity {
  position: absolute;
  top: 40%;
  left:20%;
}
#input-search-activity {
  border: 1px solid gray;
  border-radius: 10px;
}
#input-search-location {
  border: 1px solid gray;
  border-radius: 10px;
}
#input-name {
  position: absolute;
  top:10%;
  left: 10%;
}

#list-team {
display: flex;
  flex-direction: row;
}

.image-circle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding-top: 4px;
  margin-right: 10px;
  float:left;
}

.top-bar {
  margin: 0px;
}

.imgDiv {
  font-family: courier, verdana, garamond;
  text-align: left;
  color: black;
  height: 65px;
  padding: 0px;
}
#footer {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.f-div {
  padding: 0px;
  border: 0px;
}
.f-div-sub {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.dropdown-button {
  height: 65px;
  width: 120px;
}
.buttonDiv.col.s1.left {
  padding: 0px;
}
.logo {
  background-image: url(image/localhostLogoUpdate.png);
  background-repeat: no-repeat;
  background-position: center;
}
