body {
  font-family: 'Old Standard TT', serif;
}
#banner {
  height: 100px;
}
#team {
height: 50px;
width: 50px;
border-radius: 50%;
}
#list-team {
display: flex;
  flex-direction: row;
}
.brand-logo {
  height: 50px;
}
#main-pic {
  width: 100%;
}
#the-f-team {
  padding-top: 30px;
}
#search-location {
  position: absolute;
  top: 40%;
  left:60%;
}
#search-activity {
  position: absolute;
  top: 40%;
  left:20%;
}
#input-search-activity {
  border: 1px solid gray;
  border-radius: 10px;
}
#input-search-location {
  border: 1px solid gray;
  border-radius: 10px;
}
#input-name {
  position: absolute;
  top:10%;
  left: 10%;
}

#list-team {
display: flex;
  flex-direction: row;
}

.nav-wrapper .dropdown-button {
  padding-top: 15px;
  width: 200px;
  min-height: 55px;
  height: 99%;
}

.nav-wrapper #lblUserName {
  font-size: 20px;
  font-family: courier, verdana, garamond;
}

.imgDiv {
  float: right;
  height: 65px;
}

.image-circle {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.nav-wrapper .logo {
  min-width: 200px;
  background-image: url(image/tripineerPlainTextWhite.png);
  background-repeat: no-repeat;
  background-position: left;
}
